# Создайте бота через @BotFather и вставьте сюда его токен
BOT_TOKEN=token

# Прямая ссылка на изображение (доступная по HTTPS)
PHOTO_URL=https://.jpeg

# Ссылка, которая откроется по нажатию кнопки
BUTTON_URL=https://t.me
BUTTON_TEXT=Открыть бота

# Подпись под фотографией
START_TEXT=Привет! Актуальный бот тут👇
